@media (max-width: 768px) {
    .list li span {
      display: none;
    }
    .sidebar{
        width: 90px;
    }
    .title{
        font-size: small;
        margin-left: 1px;
    }

  }

  /* Show text on desktop devices */
@media (min-width: 769px) {
    .list li span {
      display: inline-block;
    }
  }